@import "./variables.scss";
@import "./spinners.scss";
@import "./icons.scss";

body {
    * {
        font-family: FilsonProMedium, sans-serif;
        color: $color-gray-5;
    }
    overflow-x: hidden;

    &.open {
        overflow: hidden;

        .play-history {
            z-index: -1;
        }
    }
}

.container {
    max-width: 900px;
    margin: auto;
    display: block;

    &.faq {
        h3 {
            color: white;
        }

        .lottery-info {
            h2 {
                font-size: 20px;
            }

            dt {
                color: $color-red;
                font-size: 20px;
                margin: 10px 0;
            }

            hr {
                opacity: .6;
                margin: 20px 0;
            }
        }

        .play-history {
            max-width: 80%;
            margin-top: -14px;
        }
    }
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    padding-top: 30px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        background: $color-green;
        height: 100px;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 199px;
        background: $color-gray;
        height: 20px;
        z-index: -1;
    }

    .logo {
        flex: 9 0 0;
        height: 50px;
        color: $color-black;
        font-size: 42px;
        padding-left: 50px;
        background: url("../img/logo-pic.svg") no-repeat;
        background-size: 46px;
        text-decoration: none;
    }

    .account-info {
        flex: 2 0 0;
        width: 200px;
        background: url("../img/ether.svg") no-repeat;
        padding-left: 30px;

        .balance {
            display: block;
        }
    }

    #error {
        color: $color-red;
        padding: 10px 40px;
    }
}

.play {
    display: block;
    width: 100%;
    height: 300px;
    background: $color-gray-1;
    box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.21);

    .spinners {
        position: absolute;
        top: 220px;
    }

    .play-selectors {
        float: right;
        width: 60%;
        padding-top: 30px;
        position: relative;

        h2 {
            text-align: center;

            span {
                color: red;
                margin: 0 8px;
            }
        }

        #guess-slider, #fee-slider {
            width: 75%;
            margin: 60px auto 0;
        }

        #fee-slider {
            margin-top: 80px;

            .noUi-base {
                background: $color-gray-2;
            }
        }

        #play-button {
            cursor: pointer;
            position: absolute;
            margin-left: -160px;
            padding: 20px 30px 20px 20px;
            height: 20px;
            font-size: 20px;
            line-height: 0;
            color: #fff;
            bottom: -100px;
            background-image: linear-gradient(-180deg, #E5463E 0%, #B41B13 100%);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.40);

            span {
                color: $color-white;
                margin-left: 16px;
            }
            i {
                color: #fff;
                margin: 0 10px;
                padding: 16px 12px;
                background-image: linear-gradient(0deg, #445F5C 0%, #468472 100%);

                &:first-child {
                    margin-right: 20px;
                }
            }

            transition: all 0.2s cubic-bezier(0.1, 1, 0.1, 3);

            &:hover {
                transform: scale(1.2);
            }
        }

        .house {
            position: absolute;
            bottom: -100px;
            color: $color-gray-2;
            font-size: 11px;
            right: 10px;
        }
    }
}

.lottery-info {
    margin: 80px 0 30px;
    padding: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21);

    justify-content: space-between;
    font-size: 14px;

    &__flex {
        display: flex;
    }

    h2 {
        line-height: 20px;
        span {
            display: block;
            color: $color-red;
        }
        a {
            text-decoration: none;
            color: $color-red;
            &:hover {
                text-decoration: underline;
                color: $color-gray-2;
            }
        }
    }
}

.play-history {

    max-width: 60%;
    margin: 60px auto;
    position: relative;

    h3 {
        text-align: center;
        font-size: 32px;
        margin: 20px;
    }

    .headers {
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        &:before {
            content: '';
            position: absolute;
            left: -999px;
            right: -999px;
            top: 80px;
            background: $color-gray-3;
            height: 4px;
            z-index: -1;
        }
    }

    .result-list {
        height: 400px;
        overflow: scroll;
        margin-top: 40px;

        .icon-loading {
            display: none;
        }

        .loading {
            .icon-loading {
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 30px;
                display: inline-block;
                @extend .icon-spin5
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: -999px;
            right: -999px;
            top: 84px;
            bottom: 0;
            background: $color-gray-4;
            z-index: -1;
        }

        .line-icon {
            width: 20px;
            height: 20px;

        }

        .line {
            transition: all 0.3s;
            color: $color-gray-5;
            text-decoration: none;
            margin: 8px 0;
            padding: 6px 10px;
            font-size: 12px;
            background: $color-white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            display: flex;
            justify-content: space-between;

            &:hover {
                background: $color-gray-5;
                * {
                    color: #fff;
                }
            }

            .icon-line {
                @extend .icon-emo-unhappy;
                color: $color-red;
            }

            &.user-play {
                background: red;
            }
        }

        .line.winner {
            .icon-line {
                @extend .icon-emo-happy;
                color: $color-green-1;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .made-love {
        a {
            display: inline-block;
            background: url("../img/logo-pic.svg") no-repeat;
            background-size: 20px;
            padding: 2px 0 2px 24px;
            margin: 0 15px 15px 0;
            text-decoration: none;
            &:hover {
                opacity: 0.6;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .logos {
        a {
            text-decoration: none;
            margin: 0 0 0 10px;
            &:hover {
                opacity: 0.6;
            }
        }
        a:nth-child(1) img {
            max-width: 126px;
        }
        a:nth-child(2) img {
            max-width: 100px;
        }
        a:nth-child(3) img {
            max-width: 50px;
        }
    }
}

@keyframes pending {
    0% {
        background-color: darkred;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: darkblue;
    }
    75% {
        background-color: darkgreen;
    }
    100% {
        background-color: darkred;
    }
}

.pending {

    color: $color-white !important;
    time {
        color: $color-white !important;
    }
    background-color: red;
    animation-name: pending;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.btn {
    cursor: pointer;
    padding: 10px 16px;
    height: 16px;
    font-size: 16px;
    color: $color-white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.40);
    text-decoration: navajowhite;

    &:hover {
        opacity: .8;
    }

    &.primary {
        background-image: linear-gradient(-180deg, #E5463E 0%, #B41B13 100%);
    }

    &.secondary {
        background-image: linear-gradient(0deg, #445F5C 0%, #468472 100%);
    }
}

.how-to-play {
    margin-left: 10px;
}

body.no-metamask {

    #no-metamask {
        display: block;
        padding: 20px;

        .header {
            padding: 20px;
            background: $color-white;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            margin: 20px;
        }
        p {
            margin: 40px;
        }

        a {
            img {
                display: block;
                margin: auto;
            }
        }

        iframe {
            display: block;
            margin: 20px auto;
        }

        .wrap {
            position: absolute;
            z-index: 10;
            text-align: center;
            width: 100%;
        }
    }
}

#no-metamask {
    display: none;
    position: relative;

    &:before {
        content: '';
        position: fixed;
        background: $color-white-80;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

#how-to-play {
    display: none;
    position: relative;

    .btn {
        max-width: 220px;
        padding: 14px;
    }

    &:before {
        content: '';
        position: fixed;
        background: $color-white-80;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 0;
        z-index: 0;
    }

    .wrap {
        position: relative;
        z-index: 10;
        width: 1000px;
        margin: auto;
        text-align: center;

        img {
            position: absolute;
        }
        img:nth-child(1) {
            top: 240px;
            left: -200px;
        }
        img:nth-child(2) {
            top: 50px;
            right: -180px;
        }
        img:nth-child(3) {
            top: 340px;
            right: -180px;
        }
        img:nth-child(4) {
            top: 500px;
            margin-left: -160px;
        }

        .btn {
            width: 120px;
            position: absolute;
            right: 250px;
            top: 28px;
        }
    }

    &.open {
        display: block;
    }
}
