$color-green: #7FAE3B;
$color-gray: #E1E1E1;
$color-gray-1: #F5F5F5;
$color-gray-2: #9B9B9B;
$color-gray-3: #DADADA;
$color-gray-4: #EEEEEE;
$color-gray-5: #4A4A4A;
$color-red: #E6514B;
$color-green-1: #1FCE6D;

.color-red {
    background: $color-red;
}
.color-gray-2 {
    background: $color-gray-2;
}